div {
    position: relative;
    margin-bottom: 5px;
}
.checkbox_input{
    display: none;
    position: absolute;
}
 .checkbox_label{
    padding-left: 40px;
    font-size: 15px;
    color: darkgray;
    cursor: pointer;
    text-transform: uppercase;
}
.checkbox_label::before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: white;
    border: 2px solid darkgrey;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: border .1s linear;
}
.checkbox_label::after{
    content: '';
    width: 8px;
    height: 8px;
    background-color: blueviolet;
    border: 1px solid darkslateblue;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    top: 5px;
    left: 5px;
    z-index: 2;
    transition: opacity .1s linear;
}
.checkbox_input:checked + .checkbox_label::before{
    border-color: darkslateblue;
}
.checkbox_input:checked + .checkbox_label::after{
    opacity: 1;
    background: darkslateblue;
}